In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('ddata/BTC_sm.csv')
df.head()

         time   close    high     low    open  volume
0  1483228740  968.29  968.29  968.29  968.29       0
1  1483228800  968.70  968.76  968.49  968.29   12993
2  1483228860  968.43  968.70  967.20  968.70   73800
3  1483228920  967.21  968.00  967.21  968.43    3500
4  1483228980  966.97  967.21  966.74  967.21   15969

In [14]:
df["time"] = [str(df["time"][t]) + "000000000" for t in range(len(df))]
df.head()

                  time   close    high     low    open  volume
0  1483228740000000000  968.29  968.29  968.29  968.29       0
1  1483228800000000000  968.70  968.76  968.49  968.29   12993
2  1483228860000000000  968.43  968.70  967.20  968.70   73800
3  1483228920000000000  967.21  968.00  967.21  968.43    3500
4  1483228980000000000  966.97  967.21  966.74  967.21   15969

In [15]:
ns_precision = df

In [16]:
ns_precision.to_csv('data/BTC_sm_ns.csv', index=False)